@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AdobeGothicStd-Bold';
    src:url('AdobeGothicStd-Bold.woff') format('woff'),
        url('AdobeGothicStd-Bold.woff2') format('woff2'),
        url('AdobeGothicStd-Bold.eot'),
        url('AdobeGothicStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('AdobeGothicStd-Bold.otf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    font-family: 'Adobe Gothic Std';
    padding: 20px 30px 0;
    border-bottom: 2px solid #000;
}

.logo{
    display: flex;
    cursor: pointer;
}

.menu{
    display: flex;
}

.menu a{
    text-decoration: none;
    margin: 5px 25px 0;
    opacity: .5;
    transition: .5s;
    position: relative;
}

.menu-bottom{
    position: absolute;
    background: #D8232A;
    border-radius: 5px;
    left: -27px;
    top: 38px;
    display: none;
    width: 77px;
    height: 25px;
    text-align: center;
}

.menu-bottom h5{
    color: white;

}

.menu-bottom:before{
    content: '';
    border-width: 6px;
    border-color: transparent transparent #D8232A transparent;
    top: -11px;
    left: 30px;
    border-style: solid;
    position: absolute;
}

.menu a:hover{
    opacity: 1;
}

.menu a:hover .menu-bottom{
    display: block;
}

.profile{
    display: flex;
    user-select: none;
}

.profile img{
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.profile h4{
    margin: 0 13px 0 10px;
    color: #3f444e;
}

.red-dot{
    width: 7px;
    height: 7px;
    position: absolute;
    background: #D8232A;
    border-radius: 50%;
    left: 85.7%;
    top: 20px;
}

.edit{
    display: flex;
    position: relative;
}

.edit:hover .edit-menu{
    display: flex;
}

.profile svg{
    position: relative;
    cursor: pointer;
    top: 7px;
}

.edit-menu{
    position: absolute;
    width: 100px;
    background: teal;
    right: -15px;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    transition: .5s;
    top: 35px;
}

.link{
    padding: 0 5px;
    transition: .2s;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.link:hover{
    background: dodgerblue;
}

.banner{
    height: 530px;
    background: url('img/banner.png') no-repeat;
    background-size: cover;
    font-family: 'Adobe Gothic Std';
}

.cast{
    display: flex;
    flex-direction: column;
    padding: 190px 0 0 18px;
}

.actor-dots{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #EDEFF0;
    margin: 6px 0;
}

.actor{
    width: 28px;
    height: 28px;
    background: none;
    margin-left: -6px;
    display: flex;
    cursor: pointer;
}

.actor:hover .tekst{
    opacity: 1;
}

.actor > .tekst{
    position: absolute;
    color: white;
    font-size: 14px;
    left: 50px;
    transition: .3s;
    opacity: 0;
}

button.watch-this{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: none;
    padding: 7px 23px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    font-family: 'Adobe Gothic Std';
    background: #D8232A;
    margin: 0 0 0 77%;
    transition: .5s;
}

button.watch-this:hover{
    background: dodgerblue;
}

.premier{
    height: 60px;
    background: rgba(0,0,0,0.5);
    margin-top: 133px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}


.publish{
    display: flex;
}

.publish h3{
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.publish h4{
    color: #D8232A;
    font-size: 14px;
    margin: 0 5px;
}

.publish svg{
    margin: 7px 0 0 5px;
}


.likes{
    display: flex;
    color: white;
}

.likes h4{
    margin: 0 10px;
}

.likes svg{
    margin-top: 8px;
}

.films{
    background: #EDEFF0;
    padding: 10px 23px;
    font-family: 'Adobe Gothic Std';
}

.search-data{
    display: flex;
    justify-content: space-between;
}

.trailers{
    display: flex;
    margin-top: 7px;
}

.search-data h2{
    color: #3f444e;
    font-size: 17px;
}

.trailers i{
    font-family: 'calibri regular';
    color: #73777D;
}

i.trail{
    font-size: 15px;
    color: #9B9FA7;
    margin: 0 15px;
}

.iskat{
    display: flex;
}

.iskat input{
    border: 0;
    border-bottom: 1px solid #808080;
    height: 25px;
    margin-top: 5px;
    background: transparent;
    outline: 0;
    position: relative;
}

.iskat button{
    border: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    bottom: -55px;
    cursor: pointer;
}

.iskat button:active{
    transform: scale(.9);
}

.afisha{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}


.content{
    width: 206px;
    position: relative;
    height: 189px;
    border-radius: 8px;
    display: flex;
    transition: .3s;
    flex-wrap: wrap;
    background: black;
    margin: 100px 50px 83px 0px;
    z-index: 1;
    user-select: none;
}

a.ska4at{
    text-decoration: none;
    margin-top: -5px;
}

.content img{
    width: 100%;
}
/* 
.content-1{
    margin-right: 10px;
    margin-left: 0;
} */

.text{
    display: flex;
    width: 206px;
    flex-wrap: wrap;
    color: white;
}

.likee{
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    width: 206px;
}

.klass{
    display: flex;
    color: white;
}

.likee svg{
    cursor: pointer;
}

.text h5.h5{
    margin: 90px 25px 0;
    font-size: 14px;
}

.about{
    background: white;
    border-radius: 8px 8px 0 8px;
    transition: .3s;
    width: 206px;
    z-index: 1;
    opacity: 0;
    font-family: 'Adobe Gothic Std';
    display: block;
    /* margin-top: -180px; */
    position: absolute;
    top: 10%;
    display: none;
}


.vid-play{
    background: #3F444E;
    width: 33px;
    border-radius: 0 8px 8px 8px;
    height: 30px;
    padding: 0px 8px;
    float: right;
    transition: .3s;
    cursor: pointer;
}

.vid-play:hover{
    background: seagreen;
}

.hover-menu{
    margin: 10px 0 0 15px;
}

.rate{
    display: flex;
}

.rate h5{
    margin-left: 5px;
    margin-top: -5px;
    color: #3f444e;
    margin-left: 10px;
}

.stars{
    display: flex;
}

.stars h5{
    margin-right: 2px;
    color: #3f444e;
}

.stars svg{
    margin: 8px 0 0 3px;
}

.stars p{
    font-family: 'calibri';
    font-size: 15px;
    margin: 4px 0 0 5px;
}

.content:hover .about{
    opacity: 1;
    top: -79%;
}

.iWatch{
    width: 850px;
    height: 505px;
    /* background: linear-gradient(to right, dodgerblue, seagreen); */
    background: white;
    position: fixed;
    z-index: 1;
    top: 50%;
    transition: .3s;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-wrap: wrap;
    font-family: 'Adobe Gothic Std';
}

.close{
    position: fixed;
    top: 0%;
    left: 82.5%;
    cursor: pointer;
}

.close i{
    color: red;
    font-size: 40px;
}

.close i:active{
    transform: scale(.9);
}

.video-pleer{
    width: 560px;
    height: 400px;
    background: black;
    margin: 1px 0 0 1px;
}

.video-pleer video{
    width: 100%;
    height: 400px;
    outline: 0;
    border: 0;
}

.like-share{
    display: flex;
    border-top: 1px solid black;
    padding: 5px 3px 0;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}

.symbol{
    display: flex;
    flex-wrap: wrap;
}

.symbol i{
    color: rgba(0,0,0,0.7);
    font-size: 30px;
}


.playlist{
    width: 280px;
    display: flex;
    padding: 2px 0 0 0;
    flex-flow: column wrap;
    margin-left: 8.7px;
    overflow: auto;
}

.asd{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    width: 100%;
    padding: 7px 3px 4px;   
}

.asd:hover{
    background: linear-gradient(to right, dodgerblue, seagreen, orangered);
}

.asd:hover .img i{
    opacity: 1;
}

.img{
    width: 120px;
    height: 80px;
    position: relative;
    transition: .3s;
}

.img span{
    position: absolute;
    left: 5px;
    color: white;
    top: 58px;
    font-size: 13px;
}

.img img{
    width: 100%;
    height: 100%;
}

.img i{
    position: absolute;
}

.img i{
    color: white;
    font-size: 40px;
    top: 18px;
    left: 43px;
    transition: .3s;
    opacity: 0;
}

.list-text{
    display: flex;
    flex-flow: wrap column;
    margin-top: -7px;
    margin-left: 5px;
}

.nazvanie{
    width: 550px;
    display: flex;
    flex-flow: wrap;
    position: relative;
    top: -12%;
    margin-left: 1px;
}

.views{
    display: flex;
    margin-top: 8px;
}

.views a{
    text-decoration: none;
    display: flex;
    color: black;
}

.views a:hover i{
    color: royalblue;
}

.views i{
    font-size: 30px;
    margin-right: 6px;
    color: rgba(0,0,0,0.7);
    transition: .3s;
}

.watchs{
    position: absolute;   
    width: 100%;
    user-select: none;
    height: 1646px;
    display: none;
    top: 0;
    z-index: 1;
    /* background: rgba(0,0,0,0.8); */
}

.you{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 3px 0;
    justify-content: space-between;
}

/* .loading{
    height: 1628px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,0.6);
}

.spinner{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 12px solid darkgrey;
    border-top: 12px solid orangered;
    border-bottom: 12px solid dodgerblue;
    border-right: 12px solid seagreen;
    border-left: 12px solid red;
    top: 25%;
    animation: name .8s linear infinite;
    left: 50%;
}

@keyframes name{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
} */

#not-active{
    font-size: 16px;
    margin-top: 6px;
    height: 26px;
}

.log-in{
    margin: 0 16px;
    position: relative;
}

.log-in h5{
    cursor: pointer;
    transition: .3s;
}

.log-in:hover .login{
    display: flex;
}

.login{
    display: none;
    flex-direction: column;
    position: absolute;
    background: #f0f0f0;
    width: 185px;
    top: 30px;
    z-index: 1;
    left: -70px;
    padding: 0 2px;
}

.login > input, button{
    padding: 3px 5px;
    margin: 5px 0;
    outline: 0;
    border: 1px solid #8a8a8a;
    background: #f6f6f6;
    border-radius: 2px;
    transition: .3s;
}

.login button{
    cursor: pointer;
}

.login button:hover{
    background: royalblue;
    color: white;
}

.login input:focus{
    box-shadow:0 0 0 .2rem rgba(19, 149, 236, 0.25);
}

/* .login label{
    font-size: 12px;
} */

.login:before{
    content: '';
    border-width: 8px;
    border-color: transparent transparent grey transparent;
    top: -16px;
    left: 43%;
    border-style: solid;
    position: absolute;
}

.log-in h5:hover{
    color: #808080;
}

.new-account{
    transition: .3s;
    position: relative;
}

.new-account h5{
    cursor: pointer;
    transition: .3s;
}

.new-account h5:hover{
    color: #808080;
}

.tarifnye-plany{
    background: linear-gradient(to right, dodgerblue, orangered);
    margin-top: 1px;
    font-family: 'Adobe gothic std';
    height: 710px;
    display: none;
}

.info-tarif{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 6px;
    user-select: none;
    text-transform: uppercase;
}

.spisok-tarify{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 3px;
    justify-content: space-around;
}

.tarif-plan{
    display: flex;
    flex-flow: column wrap;
    background: #f0f0f0;
    cursor: pointer;
    margin-top: 20px;
    height: 520px;
    transition: .3s;
    width: 360px;
    user-select: none;
    border: 1px solid #f0f0f0;
    align-items: center;
}

.tarif-plan:hover:not(.green){
    transform: scale(1.1);
    box-shadow: 1px 2px 8px 12px rgba(224, 19, 19, 0.5);
}

.info-plan{
    background: #5eb6fd;
    width: 100%;
    text-align: center;
    position: relative;
    height: 180px;
}

.info-plan h2{
    background: rgba(0,0,0,0.2);
    padding: 5px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.pricing{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #5eb6fd;
    border: 6px solid white;
    bottom: -40%;
    justify-content: center;
    left: 26%;
    font-size: 45px;
    color: white;
}

.pricing h6{
    font-size: 25px;
    margin-top: -20px;
}

.about-plan{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
}

.caption{
    text-align: center;
    border-bottom: 1px solid #979696;
    margin: 10px 0 5px;
}

.choose{
    background: #4caf50;
    color: white;
    width: 200px;
    text-align: center;
    padding: 3px 0;
    text-transform: uppercase;
    height: 43px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    transition: .3s;
}

.choose:hover{
    background: royalblue;
}

.green{
    transform: scale(1.1);
}

.green > .info-plan{
    background: rgb(95, 243, 144);
}

.green > .choose:hover{
    background: rgb(7, 197, 71);
}

.green .pricing{
    background: rgb(64, 201, 110);
    left: 28%;
}

.orange .pricing{
    background: red;
    left: 28%;
}

.orange > .info-plan{
    background: red;
}

.orange > .choose:hover{
    background: red;
}

#aktiv{
    display: none;
}

.registration{
    background: #dbdbdb;
    height: 708px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Adobe Gothic Std';
}

.reg{
    display: flex;
    flex-flow: column wrap;
    background: rgba(0,0,0,0.3);
    width: 420px;
    height: 586px;
    padding: 0 5px;
}

.reg form{
    display: flex;
    flex-direction: column;
}

.reg input{
    margin: 8px 0;
    padding: 5px 3px;
    outline: 0;
}

.reg input:focus:not(.read){
    box-shadow: 2px 2px 10px 6px rgba(224, 19, 19, 0.5);
}

.reg input:read-only{
    background: #d3d3d3;
    border: transparent;
    user-select: none;
    font-weight: 900;
    letter-spacing: 5px;
}

.reg button{
    padding: 8px 0;
    margin-top: 10px;
    background: royalblue;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

.reg button:hover{
    background: red;
}

.block{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    padding: 0 6px;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
}

.block h4{
    color: white;
}
